@font-face {
    font-family: myFont;
    src: url("../fonts/primer\ print.ttf");
  }

body{
    background: url("../img/headphone_split.jpg") no-repeat center center fixed;
    background-size: 100% auto;
    font-family: myFont;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

#navbar{
    text-align: center;
    color: #00ACC1;
}

#left_panel{
    width: 35em;
    float: left;
    position: relative;
    padding: 1em;
    color: #009688;
    text-align: center;
}

#right_panel{
    width: 35em;
    float: right;
    position: relative;
    padding: 1em;
    color: #FF5252;
    text-align: center;
}

.content{
    position: relative;
    top: 5em;  
    display: inline-block;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 0.2em;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: myFont;
    font-size: 2em;
    padding: 0.2em;
    width: 6em;
}

#bluebtn{
    color: #009688;
    border: 0.1em solid #009688;
}

#bluebtn:hover{
    background-color: #009688;
    border: 0.1em solid #009688;
    color: white;
}

#redbtn{
    color: #FF5252;
    border: 0.1em solid #FF5252;
}

#redbtn:hover{
    background-color: #FF5252;
    border: 0.1em solid #FF5252;
    color: white;
}

#copyright{
    top: 15em;
    color: #00ACC1;
    position: relative;
    text-align: center;
    clear: left;
    clear: right;
}
